body {
    background-color: #626867;
    color: #feffff;
}

form {
background-color: #2173ed;
margin:10px auto ;
 width: 400px;
padding: 20px;
}

.barra-azul {
    background-color: #2173ed;
    padding: 10px;
}